.navbar {
  background-color: #0f0f0f;
  padding: 10px;
}

.navbar-brand {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}

.nav-link {
  color: #fff;
}

.navbar-toggler {
  color: #fff;
}

body {
  background: linear-gradient(
    180deg,
    rgb(15, 15, 15) 0%,
    rgb(48, 48, 48) 50%,
    rgb(106, 106, 106) 98%
  );
  color: white;
}

.portfolio-container {
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  max-width: 1000px;
  padding-bottom: 100px;
}

.portfolio-container h2 {
  padding: 120px 0px 30px 0px;
  font-size: 35px;
}

.visit-website-container {
  position: relative;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border: 1px solid white;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.visit-website-container:hover .image {
  opacity: 0.1;
}

.visit-website-container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

.text a {
  color: rgb(85, 225, 222);
  text-decoration: none;
}

.text a:hover {
  font-weight: bolder;
  font-size: larger;
}

@media (max-width: 730px) {
  .portfolio-container h2 {
    font-size: 25px;
    padding: 90px 0px 15px 0px;
  }
}

@media (max-width: 498px) {
  .navbar {
    padding: 6px;
  }

  .navbar-brand {
    font-size: 15px;
  }

  .navbar-toggler {
    font-size: 12px;
  }

  .portfolio-container h2 {
    padding: 70px 0px 15px 0px;
  }
}
